---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
const sortedProjects = projects.sort((a, b) => {
  const importanceA = a.data.importance ?? 100;
  const importanceB = b.data.importance ?? 100;
  return importanceA - importanceB;
});
---

<Layout title="Projects - Vallejos Group">
  <div class="projects">
    <h1 class="page-title">Projects</h1>

    <div class="projects-grid">
      {sortedProjects.map((project) => (
        <a href={`/projects/${project.slug}`}>
        <div class="project-card">
          
            <h3>{project.data.title}</h3>
            <p>
              {project.data.image && (
                <img src={project.data.image} width="300" alt={project.data.title} />
                <br>
              )}

              {project.data.description}
            </p>
        </div>
        </a>
      ))}
    </div>
  </div>
</Layout>
