---
export interface Props {
  software: {
    name: string;
    description: string;
    category?: string;
    language?: string;
    img?: string;
    website?: string;
    github?: string;
    documentation?: string;
    paper?: string;
    bioconductor?: string;
    cran?: string;
    pypi?: string;
  };
}

const { software } = Astro.props;
---

<figure
  class="my-8 rounded-xl bg-slate-50 p-8 drop-shadow-2xl md:flex md:p-0"
  style="display: flex ;justify-content: center; align-items: center;"
>
  {
    software.img && (
      <picture style="padding-left: 30px;">
        <source srcset={`/${software.img}-800.webp`} type="image/webp" />
        <source srcset={`/${software.img}.png`} type="image/png" />
        <img
          class="mx-auto size-40 rounded-xl object-contain md:size-60 md:h-auto"
          src={`/${software.img}.png`}
          alt={software.name}
          width="384"
          height="512"
        />
      </picture>
    )
  }

  <div
    class="flex flex-1 flex-col flex-wrap justify-center gap-4 pt-6 text-center md:p-8 md:text-left"
  >
    <div class="space-y-2">
      <h2 class="grow text-2xl font-extralight">{software.name}</h2>
      <p class="text-lg font-thin">
        {software.description}
      </p>
      {
        software.category && (
          <p class="text-sm font-medium text-gray-500">
            Category: {software.category}
          </p>
        )
      }
      {
        software.language && (
          <p class="text-sm font-medium text-gray-500">
            Language: {software.language}
          </p>
        )
      }
    </div>

    <div class="flex flex-wrap justify-center gap-4 md:justify-start">
      {
        software.website && (
          <a
            href={software.website}
            title="Website"
            class="hover:text-blue-600"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-9"
              fill="none"
              viewBox="0 1 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
              />
            </svg>
          </a>
        )
      }

      {
        software.github && (
          <a href={software.github} title="GitHub" class="hover:text-blue-600">
            <svg
              class="size-9 fill-current"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 110 110"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z"
              />
            </svg>
          </a>
        )
      }

      {
        software.documentation && (
          <a
            href={software.documentation}
            title="Documentation"
            class="hover:text-blue-600"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-9"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
              />
            </svg>
          </a>
        )
      }

      {
        software.paper && (
          <a href={software.paper} title="Paper" class="hover:text-blue-600">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-9"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
              />
            </svg>
          </a>
        )
      }

      {
        software.bioconductor && (
          <a
            href={software.bioconductor}
            title="Bioconductor"
            class="hover:text-blue-600"
          >
            <svg
              id="svg2"
              xmlns="http://www.w3.org/2000/svg"
              stroke="currentColor"
              fill="currentColor"
              class="size-9"
              viewBox="0 0 121.42 123.64"
            >
              <g id="g10">
                <g id="g12">
                  <path
                    id="path14"
                    d="M109.65,19.71c-.27-2.49-2.51-4.28-5-4.01s-4.28,2.51-4.01,5,2.51,4.28,5,4.01,4.28-2.51,4.01-5"
                  />
                  <path
                    id="path16"
                    d="M117.23,4.07c.56-1.21.03-2.65-1.18-3.21-1.21-.56-2.65-.04-3.21,1.18-.56,1.21-.04,2.65,1.18,3.21,1.21.56,2.65.03,3.21-1.18"
                  />
                  <path
                    id="path18"
                    d="M51.82,17.1c-.3-2.71,1.66-5.14,4.36-5.44,2.71-.3,5.14,1.66,5.44,4.37s-1.66,5.14-4.36,5.44c-2.71.3-5.14-1.66-5.44-4.37"
                  />
                  <path
                    id="path20"
                    d="M52.91,9.67c-.13-1.13-1.14-1.95-2.27-1.82-1.13.12-1.95,1.14-1.83,2.27.13,1.13,1.14,1.95,2.27,1.83s1.95-1.14,1.82-2.27"
                  />
                  <path
                    id="path22"
                    d="M100.9,29.39c-.23-2.14-2.15-3.68-4.29-3.45s-3.68,2.16-3.45,4.29c.23,2.14,2.16,3.68,4.29,3.44,2.13-.23,3.68-2.15,3.44-4.29"
                  />
                  <path
                    id="path24"
                    d="M90.47,34.45c.78-1.69.05-3.69-1.64-4.48-1.69-.78-3.7-.05-4.48,1.64-.78,1.69-.05,3.69,1.64,4.48,1.69.78,3.7.05,4.48-1.64"
                  />
                  <path
                    id="path26"
                    d="M110.48,25.93c-.11-1,.61-1.89,1.61-2s1.89.61,2,1.61c.11.99-.61,1.89-1.61,2s-1.89-.61-2-1.61"
                  />
                  <path
                    id="path28"
                    d="M95.68,14.07c-.11-1,.61-1.89,1.61-2s1.89.61,2.01,1.61c.11.99-.61,1.89-1.61,2s-1.89-.61-2-1.61"
                  />
                  <path
                    id="path30"
                    d="M88.71,9.92c-.16-1.42.87-2.71,2.3-2.86,1.43-.16,2.71.88,2.86,2.3.16,1.43-.87,2.71-2.3,2.86-1.42.16-2.71-.87-2.86-2.3"
                  />
                  <path
                    id="path32"
                    d="M81.47,7.25c-1.13-1.48-.85-3.6.63-4.73,1.48-1.13,3.6-.85,4.73.63,1.13,1.48.85,3.6-.63,4.73-1.48,1.13-3.6.85-4.73-.63"
                  />
                  <path
                    id="path34"
                    d="M71.09,3.87c-.21-1.91,1.17-3.64,3.09-3.85,1.92-.21,3.64,1.17,3.85,3.09.21,1.91-1.17,3.64-3.09,3.85s-3.64-1.17-3.85-3.09"
                  />
                  <path
                    id="path36"
                    d="M65.65,11.4l.22-.08c2.2-.84,3.37-3.28,2.59-5.43-.75-2.08-3.03-3.16-5.19-2.46l-.21.07c-2.2.84-3.37,3.28-2.59,5.43.75,2.08,3.02,3.16,5.18,2.47"
                  />
                  <path
                    id="path38"
                    d="M44.02,25.65c-.25-2.28,1.4-4.33,3.67-4.58,2.28-.25,4.33,1.4,4.58,3.67.25,2.28-1.4,4.33-3.67,4.58-2.28.25-4.33-1.39-4.58-3.67"
                  />
                  <path
                    id="path40"
                    d="M35.45,28c-.18-1.65,1.01-3.14,2.66-3.32s3.14,1.01,3.32,2.66-1.01,3.14-2.66,3.32-3.14-1.01-3.32-2.66"
                  />
                  <path
                    id="path42"
                    d="M46.91,5.86c-.19-1.71-1.72-2.94-3.43-2.76-1.71.19-2.94,1.72-2.76,3.43.19,1.71,1.73,2.94,3.43,2.76,1.71-.19,2.94-1.73,2.76-3.43"
                  />
                  <path
                    id="path44"
                    d="M38.3,7.15c-.21-1.92-1.94-3.31-3.86-3.1-1.92.21-3.31,1.94-3.1,3.86.21,1.92,1.94,3.31,3.86,3.1,1.92-.21,3.31-1.94,3.1-3.86"
                  />
                  <path
                    id="path46"
                    d="M114.14,10.1c-.22-2-2.02-3.45-4.02-3.23s-3.45,2.02-3.23,4.03c.22,2,2.02,3.45,4.03,3.23,2-.22,3.45-2.02,3.23-4.02"
                  />
                  <path
                    id="path48"
                    d="M81.6,29.93c-.15-1.42-1.44-2.45-2.86-2.3-1.43.15-2.45,1.44-2.3,2.86.16,1.43,1.44,2.45,2.86,2.3,1.42-.16,2.45-1.44,2.3-2.86"
                  />
                  <path
                    id="path50"
                    d="M73.98,26.06c-.13-1.14-1.15-1.96-2.29-1.84s-1.96,1.15-1.84,2.29c.13,1.14,1.15,1.96,2.29,1.84,1.14-.13,1.96-1.15,1.84-2.29"
                  />
                  <path
                    id="path52"
                    d="M67.4,20.89c-.09-.86-.86-1.47-1.72-1.38-.85.09-1.47.86-1.38,1.72.09.85.86,1.47,1.72,1.38s1.47-.86,1.38-1.72"
                  />
                  <path
                    id="path54"
                    d="M23.18,23.04l3.57,2.85v81.66c-.18,8.69-9.89,16.09-17.29,16.09-2.23,0-4.46-.1-6.24-1.4C.37,120.13-.08,116.63.01,112.94c.27-8.89,9.62-15.79,17.29-16.09,1.86-.08,3.73.04,5.91,1.26.42.24-.03-75.07-.03-75.07"
                  />
                  <path
                    id="path56"
                    d="M30.8,13.43c-.24-2.2-2.22-3.79-4.42-3.55s-3.79,2.22-3.55,4.42,2.22,3.79,4.42,3.55,3.79-2.22,3.55-4.42"
                  />
                  <path
                    id="path58"
                    d="M116.24,28.15c-.16-1.42.87-2.71,2.3-2.86,1.43-.16,2.71.87,2.86,2.3.16,1.43-.87,2.71-2.3,2.86-1.42.16-2.71-.87-2.86-2.3"
                  />
                </g>
              </g>
            </svg>
          </a>
        )
      }

      {
        software.cran && (
          <a href={software.cran} title="CRAN" class="hover:text-blue-600">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-9"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h4a2 2 0 002-2V9a2 2 0 00-2-2H7a2 2 0 00-2 2v6a2 2 0 002 2z"
              />
            </svg>
          </a>
        )
      }

      {
        software.pypi && (
          <a href={software.pypi} title="PyPI" class="hover:text-blue-600">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-9"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"
              />
            </svg>
          </a>
        )
      }
    </div>
  </div>
</figure>
